# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
mh_feibo.pem
mh_feibo_prox.pem
push-prod-script.sh
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
hw_feibo_release_v*.zip
mh_feibo_pem

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
